.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centre;
  font-family: 'Brush Script MT', cursive;
}

.form input {
  width: 300px;
  height: 30px;
  margin: 10px;
}

.form .MuiTextField-root {
  width: 300px;
  height: 5px;
  margin: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}

Button {
  color: "DarkOrange";
}
